@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root{
    --stroke-s-200:#616161;
    --grey-g-200: #303030;
    --color-scales-gray-16:#1A1A1A;
    --grey-g-100: #B5B5B5;
    --font-light:#E3E3E3;
    --White:#FFF;
    --stroke-s-50:#DBDBDB;
}
body{
    margin: 0;
    font-family: inter;
    cursor: pointer;
    background-color: #F1F1F1;
}
.menu-bar{
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    background: var(--color-scales-gray-16);
}
.menu-bar a{
    all:unset;
}
.logo{
    width: 104.868px;
    height: 30px;
}
.small{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    display: none;
}
.menu-search{
    display: flex;
    width: 480px;
    height: 32px;
    padding: 2px;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    border: 1px solid var(--stroke-s-200);
    background: var(--grey-g-200);
}
.menu-search:hover{
    border: 1px solid #e1e1e1;
}
.menu-search:focus{
    border: 2px solid var(--White);
}
.menu-search>svg{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}
.menu-search input{
    all:unset;
    width:100%;
    color: var(--grey-g-100);
    font-size: 13px;
    font-weight: 500;
    line-height: 140%; 
}
.menu-other{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}
.menu-bell{
    all: unset;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--grey-g-200);
} 
.menu-admin{
    all: unset;
    display: inline-flex;
    padding:2px 2px 2px 8px;
    height: 32px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--grey-g-200);
}
.menu-admin h3{
    color: var(--font-light);
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
}
.menu-admin p{
    display: flex;
    height: 28px;
    padding: 2px 5px 2px 5px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #36FBA1;
    color: rgba(0, 0, 0, 0.40);
    font-size: 12px;
    font-weight: 500;
    line-height: 130%; 
}
.menu-admin:hover, .menu-bell:hover{
    background:  #616161;
}
.menu-admin:focus, .menu-bell:focus{
    background: #656266;
    box-shadow: 0px 0px 0px 3px #005BD3, 0px 0px 0px 1px #000;
}
.alert{
    position: absolute;
    top:12vh;
    right:20px;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50);
    background: var(--White);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    transition: all 0.25s ease-in;
    z-index: 10;
}
.alert-in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.alert-in h2{
    color: var(--grey-g-200);
    font-size: 14px;
    font-weight: 600;
    line-height: 140%; 
}
.alert-icon{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.alert-info{
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 8px;
    background: #F1F1F1;
}
.alert-info p{
    color:#616161;
    font-size: 13px;
    font-weight: 600;
}
.my-shop{
    position: absolute;
    top: 12vh;
    right: 20px;
    width: 320px;
    padding: 6px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50);
    background: var(--White);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    z-index: 10;
}
.my-shop-head{
    display: flex;
    padding: 4px 6px;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    align-self: stretch;
}
.my-dc-a{
    display: flex;
    padding: 4px 12px 4px 8px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: #F1F1F1;
}
.menu-admin.b {
    background: transparent;
    display: flex;
    align-items: center;
    gap: 8px;
}
.menu-admin.b p{
    font-size: 10.5px;
}
.menu-admin.b h3{
    color: #303030;
    font-size: 13px;
    font-weight: 600;
}
.my-dc-b{
    display: flex;
    align-items: center;
    gap: 3px;
    align-self: stretch;
    border-radius: 8px;
}
.my-dc-b:hover{
    background: #F1F1F1;
}
.my-dc-b p{
    color: #303030;
    font-size: 13px;
    font-weight: 400;
    line-height: 140%; 
}
.my-shop-mid{
    border: 0.75px solid #e1e1e1;
}
.my-shop-mid, .my-shop-last{
    display: flex;
    padding: 5px 6px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}
.my-shop-mid a, .my-shop-last a{
     display: flex;
    padding: 6px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: #303030;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    line-height: 140%;
    border-radius: 6px;
}
.my-shop-mid a:hover, .my-shop-last a:hover{
    background: #E7E7E7;
}
.my-shop-mid a:focus, .my-shop-last a:focus{
    border: 2px solid  #005BD3;
    background: #FFF;
}
.my-email{
    display: flex;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
}
.my-email h3{
    color: #303030;
    font-size: 13px;
    font-weight: 500;
    line-height: 6px; 
}
.my-email span{
    color: var(--stroke-s-200);
    font-size: 12px;
    font-weight: 400;
    line-height: 0;
}
.shopify-main1{
    position: relative;
    display: flex;
    width: 60%;
    margin:5vh 20%;
    padding: 12px 8px 12px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: var(--color-scales-gray-16);
}
.shopify-main1 p{
    color: var(--font-light);
    font-size: 13px;
    font-weight: 500;
    line-height: 140%; 
}
.link-grp{
    display: flex;
    align-items: center;
    gap: 8px; 
}
.link-grp a{
    all: unset;
    padding: 6px 12px;
    color: var(--font-dark, #323232);
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--White);
    box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
}
.link-grp a:hover{
    background: #F7F7F7;
    box-shadow: 0px 2px 1.5px 0px #E2E2E2 inset;
}
.link-grp a:focus{
    background: var(--White, #FFF);
    box-shadow: 0px 0px 0px 3px #005BD3, 0px 0px 0px 1px #FFF, 0px -1px 0px 0px #B5B5B5 inset;
}
.link-grp button{
    all:unset;
}
.shopify-main2{
    display: flex;
    width: 60%;
    margin:3vh 20%;
    padding: 8px;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    border-radius: 18px;
    border: 1px solid var(--stroke-s-50);
    background: var(--White);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
    transition: all 0.5s ease;
}
.set-guide{
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
.sg-text h3{
    color: var(--grey-g-200);
    font-size: 14px;
    font-weight: 600;
    line-height: 2px;
}
.sg-text h4{
    color: var(--grey-g-200);
    font-size: 13px;
    font-weight: 400;
    line-height: 15px; 
}
.a-down, .a-up{
    background: transparent;
    border: none;
    transition: all 0.5s ease;
}
.a-down{
    border-radius: 6px;
    text-align: center;
    padding:2px;
    background-color:  #F1F1F1;
}
.range{
    display: flex;
    align-items: center;
    gap:8px;
}
.range p{
    color: var(#303030);
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
}
.set-options{
    display:flex ;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 2px;
    box-sizing: border-box;
    width: 100%;
    list-style: none;
    gap:20px;
    margin-top: 0px;
}
.set-options li{
    display: flex;
    align-items: flex-start;
    gap:3px;
    padding:2px 0px 2px 10px;
    box-sizing: border-box;
    transition: all 0.25s ease;
}
.sop.active{
    border-radius: 10px;
    background: #E0E0E0;
}
.set-opt{
    all: unset;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap:66px;
}
.set-opt-true{
    display: flex;
    padding: 2px 0px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.set-opt-true button{
    background: transparent;
    border: none;
    color: #303030;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    margin:0;
    margin-top:2px;
    line-height:140%;
}
.set-opt-false, .set-img{
    transition: all 0.25s ease;
}
.set-opt-false p{
    color: var(--stroke-s-200);
    font-size: 13px;
    font-weight: 500;
    line-height: 140%; 
}
.set-opt-false p a{
    all: unset;
    font-size: 14px;
    color: #005BD3;
}
.set-opt-false .link{
    text-decoration: none;
    display: flex;
    width: 105px;
    padding: 6px 5px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    color:#F6F3F6;
    border-radius: 6px;
    border-top: 1.5px solid  rgba(255, 255, 255, 0.20);
    border-right: 1.5px solid rgba(255, 255, 255, 0.20);
    border-left: 1.5px solid rgba(255, 255, 255, 0.20);
    background: #404040;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
}
.svg-click{
    background: transparent;
    border: none;
}
.svg-click:focus{
    border: 2px solid #005BD3;
}
.bulink{
    display: flex;
    align-items: center;
    gap: 30px;
}
 .lonk{
    all: unset;
    font-size: 12px;
    font-weight: 600;
}
.butt:focus, .my-dc-b:focus, .menu-bar>a:focus{
    border: 2px solid #005BD3;
}
.butt:hover{
    background: #2B2B2B;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}
.reat{
    transition: all 0.3s ease;
}
.blind{
    display: none;
}
.see{
    display: block;
}

@media all and (min-width:320px) and (max-width: 600px) {
    .menu-admin.a h3, .logo{
        display: none;
    }
    .menu-bar{
        gap:8px;
        padding-left: 10px;
    }
    .small{
        display: block;
    }
    .menu-admin, .menu-bell{
        background: transparent;
    }
    .menu-search{
        width: 300px;
        height: 15px;
    }
    .menu-other{
        align-items: center;
    }
    .menu-admin{
        padding: 8px 2px;
    }
    .shopify-main1{
        width: 100%;
        margin: 5vh 0;
        padding: 6px 8px 12px 15px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 0;
        align-self: stretch;
    }
    .shopify-main1 p{
        width: 90%;
    }
    .link-grp button{
        position: absolute;
        top:29%;
        right:22px;
    }
    .shopify-main2{
        width: 100%;
        margin: 3vh 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 0;
        box-sizing: border-box;
    }
    .sg-text h4{
        line-height: 140%;
        margin: 0;
    }
    .set-img{
        display: none;
    }
    .set-options{
        gap:5px;
    }
    .set-options li{
        gap: 2px;
       padding-bottom: 10px;
       padding-left: 2px;
       padding-right: 5px;
    }
}
